:root {
    --primary-color: #4CAF50;
    --secondary-color: #30a14e; /* New accent color */
    --text-color: #333;
    --background-color: #f9f9f9; /* Lighter background */
    --border-color: #ccc; /* Lighter border */
    --hover-color: #333;
    --font-family: 'Roboto', sans-serif; /* Modern font */
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s;
}

header {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color)); /* Gradient background */
    color: white;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow */
}

nav {
    background-color: var(--text-color);
    color: white;
    text-align: center;
    padding: 0.5em 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 0.2rem;
}

nav a:hover, nav a:focus {
    color: var(--primary-color);
    border-bottom: 2px solid white; /* Highlight active item */
}

section {
    padding: 1.25rem;
    margin: 1.25rem;
    background-color: white;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Card-style shadow */
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 0.3125rem; /* Rounded corners */
}

section:hover {
    transform: translateY(-0.125rem);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 0.625rem;
}

/* Update form inputs and buttons */
form label, form input, form select, form textarea {
    display: block;
    margin-bottom: 0.625rem;
    border-radius: 0.3125rem; /* Rounded corners */
}

form input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1rem; /* Larger padding */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 0.3125rem; /* Rounded corners */
}

form input[type="submit"]:hover {
    background-color: var(--secondary-color); /* Secondary color on hover */
    transform: scale(1.05); /* Pop effect */
}

/* Styling for multi-select */
select[multiple] {
    width: 100%;
    height: auto;
    min-height: 6.25rem;
    border: 1px solid var(--border-color);
    overflow-y: auto;
    border-radius: 0.3125rem; /* Rounded corners */
}
#logo {
    max-width: 80%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-height: 300px; /* Adjust the height as needed */
    display: block; /* Centers the image if header has text-align: center */
    margin: 0 auto; /* Additional centering for block elements */
}
